<html>
  <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:,">
    
    <!-- jquery -->
      <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
      
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    

      <style>
        .img-format{
            
            width:200px;
            padding:10px;
        }       
      </style>
  </head>


<body>

  
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light" id="navBorder"></nav>
      <h1 class="title">
        <a href="/">
          OWA
        </a>
        
      </h1>
      <form method="GET" action="/search_item">
        <div class="text-center col-md-3">
          <input type="search" name="wsearch"> <input type="Submit" value="Search"></div>
        </form>
      
        <div class="col-md-3 text-center">
          <a class="navbar-brand" href="/sign-in">Sign in</a>
        </div>
        <div class="col-md-2">
          <img src= "https://cdn-icons-png.flaticon.com/512/263/263142.png" style="height:50px;" href="/shopping-cart">
        </div>
      </nav>
  </div>
<div class="container">
    <div class="row" style="padding:10px">
        <h1>
            {{data['categoryname']}}
        </h1>
            
        </div>
        <div class="row" style="padding:10px">
            <h5>{{data['description']}}</h4>
        </div>
        
        {% for r in result %}
       
        <div class="row">
            <div class="col-md-3">
                <h7>
                    {% if r.imageurl is not none %}
                    <img class="img-format" src= "{{r.imageurl}}">
                    {% else %}
                        NONE
                    {% endif %}
                </h7>
            </div>
            <div class="col-md-3">
                <h6>
                    {{r.name}}
                </h6>
                <div class="row">
                    <form method="GET" action="/business">
                        <input type="Submit" value="{{r.businessname}}" name="businessName" class="btn btn-info">
                      </form>
                </div>
            </div>
            <div class="col-md-3">
                <h8>
                    {{r[3]}} 
                </h8>
            </div>
            <div class="col-md-3">
                <h7>
                    {{r.price}} 
                </h7>
            </div>
            
        </div>
        {% endfor %}

            
                
            

        
</div>

    


</body>


</html>
