<html>
  <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:,">
    
    <!-- jquery -->
      <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
      
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    
      
      <style>
        table {

        border:1px solid black;
      }

      </style>
  </head>


<body>

  <center><h2>Thank You! Order Confirmed!!</h2></center>

  <center><h2>Tracking Number: {{trackingNumber}}</h2></center>
  <center><h2>Order Date : {{orderdate}}</h2></center>
  <center><h2>Expected Delivery Date : {{deliverydate}} </h2></center>

  <center><img src = "https://media.giphy.com/media/uWlpPGquhGZNFzY90z/giphy.gif?cid=ecf05e47531ru33k38qg9wou086fygoa0ctm9ec33zexkefl&rid=giphy.gif&ct=g"> </center>

  <center><a href="/">Back to Home</a></center>

  </body>




</body>
</html>