<html>
  <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- jquery -->
      <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
      
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    
      
      <style>
        table {

          border:1px solid black;
        }
        </style>
  </head>

  <body>
    <br>
    <br>

    <div class="container">

<!-- submit the form action -->
      <form action="/add-payment" method="post">
        <div class="form-group">
          <label for="cardName">Card Name</label>
          <input type="text" id="cardName" name="cardName" class="form-control" placeholder="Enter your card name here.." required autofocus>
        </div>
        <div class="form-group">
          <label for="cardNumber"> Card Number</label>
            <textarea class="form-control" id="cardNumber" name="cardNumber" minlength = "16" maxlength = "16" placeholder="Enter your card number here.." required></textarea>
        </div>
        <div class="form-group">
          <label for="cvvNumber">CVV Number</label>
          <input type="text" id="cvvNumber" name="cvvNumber" class="form-control" minlength = "3" maxlength = "4" placeholder="Enter your cvv number" required autofocus>
        </div>
        <div class="form-group">
          <label for="zipCode">zipCode</label>
          <input type="text" id="zipCode" name="zipCode" class="form-control" minlength = "5" maxlength = "5" placeholder="Enter your name here.." required autofocus>
        </div>
        <div class="form-group">
          <label for="expDate">expDate</label>
          <input type="date" id="expDate" name="expDate" class="form-control" placeholder="Enter by MM/DD/YYY.." required autofocus>
        </div>


        <div class ="form-group">
        
          <input type = "submit" value = "Confirm Payment" class = "btn btn-lg btn-primary btn-block"/>
        </div>

      </form>


</html>
