<html>
  <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- jquery -->
      <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
      
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    
      <link rel="stylesheet" href="static/main.css">
      <style>
        table {

          border:1px solid black;
        }
        .img-format{
          width:200px;
          padding:10px;
        }    
        </style>
  </head>


  <body>
    <html>
  <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:,">
    
    <!-- jquery -->
      <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
      
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    

      <style>

      </style>
  </head>


<body>

  
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light" id="navBorder"></nav>
      <h1 class="title">
        <a href="/">
          OWA
        </a>
        
      </h1>
      <div class="col-md-3">
      <form method="GET" action="/search_item" class="form">
        <div class="text-center col-md-3">
          <input type="search" name="wsearch"> <input type="Submit" value="Search"  class="btn btn-info"></div>
        </form>
      </div>
        <div class="col-md-3 text-center">
          <a class="navbar-brand" href="/sign-in">Sign in</a>
        </div>
        <div class="col-md-2">
          <img src= "https://cdn-icons-png.flaticon.com/512/263/263142.png" style="height:50px;" href="/shopping-cart">
        </div>
      </nav>
  </div>

    <center><h2>Products</h2></center>


    <table style="width:75% ;margin-left:auto;margin-right:auto;">
      <thead>
      <tr>
        <th>Product</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Add to Cart</th>
      </tr>
    </thead>

    <tbody>

      {% for r in result %}
      <tr>

        <td><img src = "{{r.imageurl}}" width = "300" height = "300"> </td>  

        <td>{{r.name}}</td>
        <td> ${{r.price}}</td>
        <td>{{r.description}}</td>
        <td>
          
          <form method = "GET" action = "/add-to-cart">
            <input type = "hidden" name = "code" value = "{{r.productnumber}}"/>
            <input type = "hidden" name = "price" value = "{{r.price}}"/>
            <input type = "hidden" name = "name" value = "{{r.name}}"/>
            <input type = "number" class="product-quantity" name="quantity" min = 1 max = "{{r.quantity}}" size="2" />
            <input type = "submit" value = "Add to Cart" name ="productNumber" class = "btn btn-lg btn-primary btn-block"/>
    
          </form>
            <!--<nav style="margin-bottom:25 ;margin-left:auto">
              <input type="submit" value="Add to Cart" class="default-btn" href = '/shopping-cart'/>
               </nav> -->
             </td>
      </tr>
      {% endfor %}

    </tbody>
    </table>



  </body>
</html>





    

