<html>
  <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- jquery -->
      <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
      
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    
     
      <style>
        table {

          border:1px solid black;
        }
        </style>
  </head>

  <body>
    <br>
    <br>

    <div class="container">
      <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light" id="navBorder"></nav>
        <h1 class="title">
          <a href="/">
            OWA
          </a>
          
        </h1>
      </div>
<!-- submit the form action -->
      <form action="/sign-in" method="post">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" id="Name" name="name" class="form-control"  placeholder="Enter your name.." required autofocus>
          </div>
        <div class="form-group">
          <label for="Email">E-mail</label>
          <input type="text" id="Email" name="email" class="form-control"  placeholder="Enter your school (.edu) e-mail here.." required autofocus>
        </div>
       
        <div class ="form-group">
        
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
        </div>

      </form>
      <div class="row">
        Don't have an account yet? 
      </div>
      <div class="row">
        <a href="sign-up">Sign up</a>
      </div>
      <div class="row">
        {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
      </div>


</html>
